<h1>Past Portal</h1>
<div class="container">
  <div class="parchment">
    <p>A test web application that creates a chatbot for a historical figure, allowing the user to get some "experience" talking to this period character, for educational and entertainment purposes.</p>
    <p>Future plans include creating a dynamic map with 2-3 chatbots viewable on that same page.</p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= link_to questions_path, "/questions" %>
</div>
